Django>=5.0
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-cors-headers
psycopg2-binary
daphne
channels
celery
redis
beautifulsoup4
requests
pywebpush
python-dotenv
Pillow
gunicorn
dj-database-url
whitenoise
channels-redis
